<html>
  <body class = "quiltbody">
    <h1>Quilts - The Ultimate Stash Buster</h1>
    <div class = "quiltwords">
      <p>Quilts are amazing for using up lots of small pieces of leftover fabric. </p>
      <p>The simplest traditional quilt is a simple block quilt made up of 8 inch squares. </p>
      <p>Use the calculator below to determine how many 8 inch squares you can get from the fabric you have on hand. </p>

        <div class="calculator">
          <form>
            Length in Inches: <input type="text" id="length" /><br>
            Width in Inches: <input type="text" id="width" /><br>
            <input type="button" onClick="calculateBy()" Value="Calculate" />
          </form>
          <p>8" Squares: <br>
            <span id = "result"></span>
        </div>
      </p>

      <p>Pressed for time and wanting a quilt without all the piecing? Head over to Spoonflower to create your own wholecloth quilt!</p>
        <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2017/04/when-a-yard-is-more-than-a-yard/">
          <img class ="imageborder" src="https://blog.spoonflower.com/wp-content/uploads/2017/04/MG_8479.jpg" width="550" height="800"></a>
          <div class ="description">Fill-A-Yard Quilts</div>
        </div>
      <p><%= render 'layouts/buttons' %></p>
    </body>
</html>
