<html>
  <body class = "randombody">
    <h1>What Should I Make?</h1>
    <div class = "randomwords text">
      <%= render 'layouts/buttons' %>
      <br><br><br>
      <p> Sometimes, you find yourself longing to start up the sewing machine, with no idea what to do.</p>
      <p>Let us give you a starting point! Click the button until you see a good starting point!</p>
      <br>
      <br>

      <div id="ideaDisplay">
      </div>

      <div class ="mybuttonz">
        <button class="button" onClick="newIdea()">Give me a Project!</button></div>
        <script src = "random.js"></script>
        <br>
        <br>
      </div>
    </div>
  </body>
</html>
