<html>
<body class = "bodyrandom">
<h1>What Should I Make?</h1>
<div class = "randomwords">

  <body>
    <div id="ideaDisplay">
    </div>
    <div class ="mybuttonz">
    <button onClick="newIdea()">Give me a Project!</button></div>
    <script src = "random.js"></script>
