<html>
  <body class = "bodyswatch">
    <h1>Swatch</h1>
      <div class = "swatchwords">
        <%= render 'layouts/buttons' %>
        <br><br><br>
      <p>Test swatches are a perfect way to make sure you that you are getting exactly what you want before committing to yardage, but what can be done with all those little scraps?</p>
      <p> Save them from the trash bin with one of our easy projects below!</p>

      <p>
        <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2016/01/travel-tissue-cover-with-french-seams/">
          <img class ="imageborder" src="https://blog.spoonflower.com/wp-content/uploads/2016/01/6a01bb0805c7f6970d01b7c8097e0e970b-800wi.png" width="250" height="250"></a>
          <div class ="description">Tissue Cover</div></div>

        <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2015/01/fabric-labels-for-your-handmade-goods/">
          <img class ="imageborder" src="https://blog.spoonflower.com/wp-content/uploads/2015/01/6a0192abac60ce970d01b7c73a4d88970b-800wi.png" width="250" height="250"></a>
          <div class ="description">Fabric Labels</div></div>

        <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2015/08/how-to-design-a-quilt-block-in-picmonkey/">
          <img class ="imageborder" src="https://blog.spoonflower.com/wp-content/uploads/2015/08/6a00e5523f5f4d883401b7c7bc4554970b-800wi.jpg" width="250" height="250"></a>
          <div class ="description">Custom Quilt Block</div></div>
      </p>

      <p>Looking to use a whole pile of swatches? <%= link_to "Maybe a quilt is right for you!", static_pages_quilt_path %>
    </div>
  </body>
</html>
