<html>
<body class = "whatbody">
<h1>What is a Fat Quarter?</h1>
<div class = "whatwords">
  <div class="dropdown">
    <div class = "dropdowntitle">
  <span>Fat Quarter Size: 21" x 18"</span>
</div>
  <div class="dropdown-content">
    <p><a href ="https://www.spoonflower.com/basic-cotton-ultra-fabric">Basic Cotton Ultra</a></p>
    <p><a href ="https://www.spoonflower.com/kona-cotton-ultra-fabric">Kona Cotton Ultra</a></p>
    <p><a href ="https://www.spoonflower.com/cotton-poplin-ultra">Cotton Poplin Ultra</a></p>
  </div>
</div>

<div class="dropdown">
  <div class = "dropdowntitle">
  <span>Fat Quarter Size: 27" x 18"</span>
</div>
<div class="dropdown-content">
  <p><a href= "https://www.spoonflower.com/satin">Satin</p></a>
  <p><a href="https://www.spoonflower.com/chiffon-fabric">Chiffon</p></a>
  <p><a href="https://www.spoonflower.com/silky_faille">Silky Faille</p></a>
  <p><a href= "https://www.spoonflower.com/linen-cotton-canvas-ultra-fabric">Linen Cotton Canvas</p></a>
  <p><a href= "https://www.spoonflower.com/minky">Minky</p></a>
  <p><a href= "https://www.spoonflower.com/eco_canvas">Eco Canvas</p></a>
  <p><a href= "https://www.spoonflower.com/faux_suede">Faux Suede</p></a>
</div>
</div>

<div class="dropdown">
  <div class = "dropdowntitle">
<span>Fat Quarter Size: 28" x 18"</span>
</div>
<div class="dropdown-content">
  <p><a href= "https://www.spoonflower.com/performance_pique">Perfomance Piqué</p></a>
  <p><a href ="https://www.spoonflower.com/performance">Perfomance Knit</p></a>
  <p><a href= "https://www.spoonflower.com/organic-sweet-pea-gauze-fabric">Organic Gauze</p></a>
  <p><a href= "https://www.spoonflower.com/modern_jersey">Modern Jersey</p></a>
  <p><a href= "https://www.spoonflower.com/fleece">Fleece</p></a>
  <p><a href="https://www.spoonflower.com/organic-cotton-knit-ultra-fabric">Organic Cotton Knit</p></a>
  <p><a href="https://www.spoonflower.com/organic-cotton-sateen-fabric">Organic Cotton Sateen</p></a>
  <p><a href= "https://www.spoonflower.com/sport_lycra">Sport Lycra</p></a>
</div>
</div>

<div class="dropdown">
  <div class = "dropdowntitle">
<span>Fat Quarter Size: 29" x 18"</span>
</div>
<div class="dropdown-content">
  <p><a href="https://www.spoonflower.com/heavy-cotton-twill-fabric">Heavy Cotton Twill</p></a>
  <p><a href= "https://www.spoonflower.com/lightweight-cotton-twill-fabric">Lightweight Cotton Twill</p></a>
</div>
</div>

<div class="dropdown">
  <div class = "dropdowntitle">
<span>Fat Quarter Size: 30" x 18"</span>
</div>
<div class="dropdown-content">
  <p><a href= "https://www.spoonflower.com/cotton_spandex_jersey">Cotton Spandex Jersey</p></a>
</div>
</div>
<br>
<br>
<br>
<br>
  <p>To put it simply a fat quarter is 1/4 of a yard of fabric. </p>
  <p><a href="https://wwww.spoonflower.com">Spoonflower</a> has a wide variety of fabrics in widths ranging from 42 up to 60 inches.</p>
  <p>While all fat quarters are 18 inches long, their widths depend entirely on the total width of the yard.</p>
  <p>Hover over the width size below and see all the fabrics in that width.</p>

<br>
<br>
<br>

<%= render 'layouts/buttons' %>
