<html>
  <body class = "bodyyard">
    <h1>One Yard</h1>
    <div class = "yardwords">
      <p>A yard may not seem like a lot when it comes to size, but they have a world of possibilities!</p>
      <p>
        <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2017/03/personalized-wedding-pillows-for-under-10-template-included/">
          <img class ="imageborder" src="https://blog.spoonflower.com/wp-content/uploads/2017/01/Wedding-pillow-.jpg" width="250" height="250"></a>
          <div class ="description">Personalized Wedding Pillows</div></div>

        <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2017/03/how-to-sew-the-perfect-summer-tank-top-video-tutorial/#more-21309">
          <img class ="imageborder" src="https://blog.spoonflower.com/wp-content/uploads/2017/03/SF-NeckingDisplay.png" width="250" height="250"></a>
          <div class ="description">Tank Top</div></div>

        <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2017/02/the-pillow-every-pet-owner-needs-to-make/">
          <img class ="imageborder" src="https://blog.spoonflower.com/wp-content/uploads/2017/02/2.jpg" width="250" height="250"></a>
          <div class ="description">Pet Pillow</div></div>

        <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2017/05/a-personalized-gift-for-teachers-kids-art-cheater-quilt/">
          <img class ="imageborder" src="https://blog.spoonflower.com/wp-content/uploads/2017/05/fill-a-yard-quilt.jpg" width="250" height="250"></a>
          <div class ="description">Cheater Quilt</div></div>

        <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2017/03/this-is-so-much-more-than-a-color-map/">
          <img class ="imageborder" src="https://blog.spoonflower.com/wp-content/uploads/2017/03/Spoonflower_Colormap.jpg" width="250" height="250"></a>
          <div class ="description">Color Map Projects</div></div>

        <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2017/02/how-to-make-custom-nasa-posters/">
          <img class ="imageborder" src="https://blog.spoonflower.com/wp-content/uploads/2017/02/RoomMockupWithPosters-1024x614.jpg" width="250" height="250"></a>
          <div class ="description">Custom Posters</div></div>

        <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2017/01/how-to-sew-half-apron-with-pockets/">
          <img class ="imageborder" src="https://blog.spoonflower.com/wp-content/uploads/2017/01/IMG_1843-e1483654365535-843x1024.jpg" width="250" height="250"></a>
          <div class ="description">Retro Half Apron</div></div>

        <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2016/12/learn-to-make-your-own-cut-and-sew-advent-calendar/">
          <img class ="imageborder" src="https://blog.spoonflower.com/wp-content/uploads/2016/11/finished-calendar-804x1024.jpg" width="250" height="250"></a>
          <div class ="description">Advent Calendar</div></div>

        <div class ="imagecontainer"><a href="http://blog.spoonflower.com/2016/08/how-to-make-fun-vintage-halloween-treat-bags/">
          <img class ="imageborder" src="https://blog.spoonflower.com/wp-content/uploads/2016/08/bag7-1024x681.jpg" width="250" height="250"></a>
          <div class ="description">Halloween Treat Bags</div></div>

        <div class ="imagecontainer"><a href="http://blog.spoonflower.com/2014/09/pixel-power-diy-superhero-capes/">
          <img class ="imageborder" src="https://blog.spoonflower.com/wp-content/uploads/2014/09/6a00e5523f5f4d883401b8d06c10db970c-800wi.jpg" width="250" height="250"></a>
          <div class ="description">Superhero Capes</div></div>

        <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2016/06/family-treasure-into-a-fabric-design-silk-scarf-1/">
          <img class ="imageborder" src="https://blog.spoonflower.com/wp-content/uploads/2016/06/6a00e5523f5f4d8834016766c97553970b-500wi.jpg" width="250" height="250"></a>
          <div class ="description">Personalized Scarf</div></div>

        <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2016/05/how-to-make-a-magical-fleece-unicorn/">
          <img class ="imageborder" src="https://blog.spoonflower.com/wp-content/uploads/2016/05/6a00e5523f5f4d883401bb08fb7092970d-800wi.png" width="250" height="250"></a>
          <div class ="description">Unicorn</div></div>
        </p>
        <%= render 'layouts/buttons' %>
      </div>
    </body>
</html>
