// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-image: url(https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0568/7226/rrWatercolour_Floral_ditsy_Old_Style_shop_preview.png)
}

.bodyswatch {
  background-image: url(https://s3.amazonaws.com/spoonflower/public/designs/0383/8733/rdetailed_navy_doodle_pattern_base.jpg)
}

.bodyfq {
  background-image: url(https://s3.amazonaws.com/spoonflower/public/designs/0524/7883/rHexagon_LINEN.jpg);
}

.bodyyard {
  background-image: url(https://s3.amazonaws.com/spoonflower/public/designs/0118/6967/rBag_Pattern_fills_v2-06.jpg);
}

.bodyyardage {
  background-image: url(https://s3.amazonaws.com/spoonflower/public/designs/0469/2773/rgeode-seamless-mossy-green-small.png);
}

.quiltbody {
  background-image: url(https://s3.amazonaws.com/spoonflower/public/designs/0634/1328/rtttweety_twerky_cheep_cheep_repeat.png);
}

h1 {
  font-family: Palatino, sans-serif;
  color: #383e60;
  background-color: #fefbf7;
  text-align: center;
  align: center;
  border-style: solid;
  padding: 85px;
  font-size: 5em;
}

.imagecontainer {
  display: inline-block;
  margin: 20px;
  position: relative;
}

.imageborder{
  border:2px solid #021a40;
  box-sizing: inherit;
}

.description{
    font-family: Palatino, sans-serif;
    background: #ffe4e1;
    position: absolute;
    top: 50px;
    left: 20px;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;

}

.words {
  font-family: Palatino, sans-serif;
  text-align: center;
  font-size: 25px;
  background-color: #bbcccc;
  border-style: solid;
  padding: 85px;
}

.quiltwords {
  font-family: Palatino, sans-serif;
  text-align: center;
  font-size: 25px;
  background-color: #fde0cd;
  border-style: solid;
  padding: 85px;
}


.swatchwords {
  font-family: Palatino, sans-serif;
  text-align: center;
  font-size: 25px;
  background-color: #fefbf7;
  border-style: solid;
  padding: 85px;
}

.fqwords {
    font-family: Palatino, sans-serif;
    text-align: center;
    font-size: 25px;
    background-color: #8DBAB5;
    border-style: solid;
    padding: 85px;
  }

.yardwords {
      font-family: Palatino, sans-serif;
      text-align: center;
      font-size: 25px;
      background-color: #99e6ff;
      border-style: solid;
      padding: 85px;
    }

.yardagewords {
      font-family: Palatino, sans-serif;
      text-align: center;
      font-size: 25px;
      background-color: #abdbcd;
      border-style: solid;
      padding: 85px;
    }



.mybuttonz {
  margin-top: 5em;
  a {
    width: 200px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 100%;
    background: #ffe4e1;
    color: #4C004C;
    border: 1px solid #ffe4e1;
    border-radius: 10px;
    text-decoration: none;
  }
}
