// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.homebody {
    background-image: url(https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0568/7226/rrWatercolour_Floral_ditsy_Old_Style_shop_thumb.jpg)
}

.bodyswatch {
  background-image: url(https://s3.amazonaws.com/spoonflower/public/designs/0383/8733/rdetailed_navy_doodle_pattern_base.jpg)
}

.bodyfq {
  background-image: url(https://s3.amazonaws.com/spoonflower/public/designs/0524/7883/rHexagon_LINEN.jpg);
}

.bodyyard {
  background-image: url(https://s3.amazonaws.com/spoonflower/public/designs/0118/6967/rBag_Pattern_fills_v2-06.jpg);
}

.bodyyardage {
  background-image: url(https://s3.amazonaws.com/spoonflower/public/designs/0469/2773/rgeode-seamless-mossy-green-small.png);
}

.quiltbody {
  background-image: url(https://s3.amazonaws.com/spoonflower/public/designs/0634/1328/rtttweety_twerky_cheep_cheep_repeat.png);
}

.resourcebody{
  background-image: url(https://s3.amazonaws.com/spoonflower/public/designs/0655/5249/rFALL2017_ACORNFLORAL_GREENORANGE.jpg);
}

.suggestbody {
  background-image: url(https://s3.amazonaws.com/spoonflower/public/designs/0532/1659/Acid_rain_Galaxy-01.jpg);
}

.whatbody {
  background-image: url(https://s3.amazonaws.com/spoonflower/public/designs/0395/2909/rTopiaryGroveBlueRedWh.jpg);
}

.randombody {
  background-image: url(https://s3.amazonaws.com/spoonflower/public/designs/0506/5036/rrnonchalantcoral150.jpg);
}

h1 {
  font-family: Palatino, sans-serif;
  color: #383e60;
  background-color: #fefbf7;
  text-align: center;
  align: center;
  border-style: solid;
  padding: 85px;
  font-size: 5em;
}

.imagecontainer {
  display: inline-block;
  margin: 20px;
  position: relative;
}

.imageborder{
  border:2px solid #021a40;
  box-sizing: inherit;
}

.description{
    font-family: Palatino, sans-serif;
    background: #ffe4e1;
    position: absolute;
    top: 50px;
    left: 20px;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    display: none;
}

.admin {
  display: none;
}

.adminbutton {
    font-weight: bold;
    font-size: 15px;
    margin-top: 50px;
    width: 100px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
  }

.text {
  border-style: solid;
  text-align: center;
  font-family: Palatino, sans-serif;
  font-size: 25px;
  padding: 20px;
}

.words {
  background-color: #bbcccc;
}

.randomwords {
  background-color: #C0F6FC;
}

.whatwords {
  background-color: #FFFFFF;
}


.suggestwords {
  background-color: #FFF7FE;
}

.resourcewords {
  background-color: #bbcccc;
}

.quiltwords {
  background-color: #e8f5f1;
}

.swatchwords {
  background-color: #fefbf7;
}

.fqwords {
    background-color: #f8fdff;
  }

.yardwords {
      background-color: #e4f6ff;
    }

.yardagewords {
      background-color: #abdbcd;
    }

.mybuttonz {
  margin-top: 50px;
  a {
    width: 200px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 100%;
    background: #ffe4e1;
    color: #4C004C;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
  }
}

.button {
    margin-top: 50px;
    width: 175px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    background: #eef7fa;
    color: #294953;
    border: 5px solid black;
    border-radius: 10px;
    text-decoration: none;
}

.votebutton{
  margin-top: 50px;
  width: 125px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  background: #eef7fa;
  color: #294953;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
}


.calculator {
  background-color: white;
  border-style: solid;
  border-width: thin;
  border-color: gray;
  padding-top: 40px;
  font-family: Palatino, sans-serif;
  width: 25%;
  margin: 0 auto;
}

.dropdown {
    display: inline-block;
    position: inherit;
  }

  .dropdowntitle {
    padding: 20px;
    font-family: Palatino, sans-serif;
    font-size: 100%;
    background: #c5e3ed;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    text-decoration: none;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: inherit;
}

.dropdown:hover .dropdown-content {
    display: block;
}
