// Place all the styles related to the suggestions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.showbody {
  background-image: url(https://s3.amazonaws.com/spoonflower/public/designs/0483/3878/rrwoodgrain_stonewash.jpg);
}

.showwords {
  ont-family: Palatino, sans-serif;
  text-align: center;
  font-size: 25px;
  background-color: #FFF7FE;
  border-style: solid;
  padding: 85px;
}
