<html>
  <body class = "showbody">
    <h1>Editing Suggestion</h1>
    <div class = "showwords text">

      <%= render 'form', suggestion: @suggestion %>

      <%= link_to 'Show', @suggestion %>
      <%= link_to 'Back', suggestions_path %>

    </div>
  </body>
</html>
