<html>
  <body class = "showbody">
    <h1>Editing Suggestion</h1>
    <div class = "showwords text">

      <%= render 'form', suggestion: @suggestion %>

      <%= link_to 'Show', @suggestion %>
      <%= link_to 'Back', suggestions_path %>

    </div>
  </body>
</html>

<!--partial that connects to _form.html.erb -created by scaffolding via the terminal with links
back to the show page for that suggestion and the suggestions index page -->
