<html>
<body class = "showbody">
<h1>New Suggestion</h1>
<div class = "showwords text">
<p> <%= render 'form', suggestion: @suggestion %>

</p>

<div class= "mybuttonz">
  <%= link_to "Home", static_pages_home_path %>
  <%= link_to "Suggestions", suggestions_path %>
</div>

</div>
</body>
</html>

<!-- this has the information for the presentation of the show page. It has the same css as the
show page and it renders the form for a new suggestion -->
