<html>
<body class = "showbody">
<h1>New Suggestion</h1>
<div class = "showwords">
<p> <%= render 'form', suggestion: @suggestion %>


</p>

<div class= "mybuttonz">
  <%= link_to "Home", static_pages_home_path %>
  <%= link_to "Suggestions", suggestions_path %>
</div>

</div>
</body>
</html>
